*{
    margin:0;
    padding:0;
    font-family:'Outfit', sans-serif;
}

html,body {
    overflow-x: hidden;
}

body {
    min-width:80rem;
    height:100vh;

    background:linear-gradient(153deg, #D8EFF7 -12.14%, rgba(216, 239, 247, 0.00) 84.98%);
}

.divHeader {
    display:flex;
    margin:2rem;
    align-items:center;
}

.divHeader img {
    width:9.2rem;
    height:4.2rem;
}

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-bottom: 1rem;
}

.question {
    width:24rem;
    height:5.3rem;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    border:1px solid #585858;
    background:linear-gradient(159deg, #0246FF 13.89%, #001755 104.43%);
    display:flex;
    color:#FFF;
    text-align:center;
    font-size:1.25rem;
    font-weight:600;
    align-items:center;
    padding:1.2rem;
}

.answers {
    width:24.4rem;
    height:25.1rem;
    border-radius:0rem 0rem 0.875rem 0.875rem;
    border:1px solid #585858;
    background:#FFF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1rem;
    padding:1.375rem 1rem;
}

.content_button {
    border:1px solid #0347FF;
    border-radius:0.3rem;
    display: flex;
    align-items: center;
    padding-right:1rem;
    padding-left:1rem;
    padding-top:1.38rem;
    padding-bottom:1.38rem;
    gap:2rem;
    background-color:#fff;
    cursor:pointer;
}

.text {
    text-align:justify;
    font-size:1rem;
    font-weight:400;
}

.buttons {
    max-width: 26.4rem;
    display: flex;
    margin-top:1.5rem;
    gap: 2rem;
}

.button-two, .button-stop {
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.button-two {
    background:#D8EFF7;
    color:#000;
    font-size:1rem;
    font-weight:400;
    border:none;
}

.button-stop {
    border-radius:0.8rem;
    border:1px solid #FF01AE;
    background:#FFF;
    color:#FF01AE;
    font-size: 1rem;
    font-weight: 400;
}

.button-start-quiz {
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    cursor: pointer;

    background:#0347FF;
    color:#FFF;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.answer {
    width: 23rem;

    border:1px solid #0347FF;
    border-radius:0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:1rem;
    padding-left:1rem;
    padding-top:1.38rem;
    padding-bottom:1.38rem;
    gap:2rem;
    background-color:#fff;
    cursor:pointer;

    transition: filter 0.2s;
}

.answer:hover {
    background-color: #D8EFF7;
}

.hide {
    display: none;
}

.content_button-one {
    border-color: blue;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: flex-start;
    gap: 32px;
    background-color: #FFFFFFFF
}

.selectAnswers{
    background-color:#D8EFF7;
    border-radius: 0.3rem;
}

.otherAnswers{
    background-color:#EDEDED;
    border-radius: 0.3rem;
}

.confirmAnswer{
    border-radius: 0.8rem;
    background: #0347FF;
    color: #FFF;
}

.correct {
    background-color:#66D03A;
    border-radius: 0.3rem;
    color: white;
}

.incorrect {
    border-radius: 0.3rem;
    background-color: #BF1111;
    color: white;
}

button:disabled {
    pointer-events: none;
}

@media (max-width: 40rem){
    html,body {
        min-width: 0rem;
        overflow-x: hidden;
    }

    .question, .answers, .buttons {
        max-width: 17rem;
    }

    .answers {
        gap: 1.5rem;
    }

    .content_button {
        min-height: 10vh;
        padding: 0rem 0.5rem 1rem 0.5rem;
    }

    .image {
        margin-top: 0.8rem;
    }

    .text {
        font-size: 1.1rem;
    }
}

@media (min-width: 41rem) and (max-width: 60rem){
    html,body {
        min-width: 0rem;
        overflow-x: hidden;
    }

    .question, .answers {
        width: 40rem;
    }

    .question {
        font-size: 2rem;
    }

    .answers {
        gap: 1.5rem;
        height: 100%;
        padding: 2rem 1rem 2rem 1rem;
    }

    .content_button {
        width: 38rem;
        height: 9rem;
    }

    .image {
        margin-top: 0.8rem;
    }

    .text {
        font-size: 2rem;
    }

    .buttons{
        max-width: 100%;
    }

    .button-two, .button-stop {
        width: 20rem;
        height: 5rem;
    }
}