*{
    margin:0;
    padding:0;
    font-family:'Outfit', sans-serif;
}

body{
    min-width:80rem;
    min-height:52rem;
}

.divHeader {
    display:flex;
    margin:2rem;
    align-items:center;
}

.divHeader img {
    width:3.5rem;
    height:3.5rem;
}

.divTitleHeader{
    color:#000;
    font-size:1.8rem;
    font-weight:400;   
}